global
	daemon
    stats socket /tmp/haproxy
    log /var/run/haproxy.log.socket local0 info
    log /var/run/haproxy.log.socket local0 notice

defaults
	log	global
	mode	http
	option	dontlognull
    timeout connect 5s
    timeout client 5s
    timeout server 50s

frontend insecure
    bind *:80
    reqadd X-Forwarded-Proto:\ http
    default_backend secure_backend

frontend secure
    bind *:443 ssl crt /etc/haproxy/ssl
    reqadd X-Forwarded-Proto:\ https
    default_backend secure_backend

backend secure_backend
    redirect scheme https code 301 if !{ ssl_fc }
    # NOTE: The service defined in haproxy-https.yaml requests this cluster ip.
    # A better way to do this would be DNS, but that's only supported in
    # haproxy-1.6-dev. This is purely for illustration.
    server svc1 10.0.1.175:80

