apiVersion: v1
kind: Config
current-context: nuage-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://{{ groups['masters'][0] }}:{{ k8s_api_port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: nuage
  name: nuage-to-{{ cluster_name }}
users:
- name: nuage
  user:
    token: {{ nuage_token }}
