apiVersion: v1
kind: Config
current-context: nuage-to-{{ cluster_name }}
preferences: {}
clusters:
- cluster:
    {% if k8s_ca_crt_data is defined %}
    certificate-authority-data: {{ k8s_ca_crt_data | b64encode }} 
    {% endif %}
    server: https://{{ groups['masters'][0] }}:{{ k8s_api_port }}
  name: {{ cluster_name }}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: nuage
  name: nuage-to-{{ cluster_name }}
users:
- name: nuage
  user:
    token: {{ nuage_token }}
