apiVersion: v1
kind: Service
metadata:
  name: groupsvc
  labels:
    yinnut-svc: group
spec:
  type: NodePort
  ports:
  - port: {{ service_port }}
    protocol: TCP
    targetPort: {{ service_port }}
    name: http
    nodePort: {{ node_port }}
  selector:
    yinnut-svc: group
