[Unit]
After=network-online.target
Wants=network-online.target
Description=flannel is an etcd backed overlay network for containers

[Service]
Type=notify
EnvironmentFile=/etc/sysconfig/flanneld
ExecStart={{ bin_dir }}/flanneld
ExecStartPost={{ bin_dir }}/mk-docker-opts.sh -d /run/flannel_docker_opts.env -i

[Install]
WantedBy=multi-user.target
