---
- include: install.yml

- include: configure.yml

- include: start.yml

- name: Call restart etcd
  include: etcd-restart.yml
  when: etcd_modified == true and etcd_started.changed == false 

- name: Call restart etcd2
  include: etcd2-restart.yml
  when: etcd2_modified == true and etcd2_started.changed == false
