server:
  # enable debug mode, does not fork daemon process into the background.
  debug-mode: yes

  # the database to use
  database: "/tmp/nsd.db"

  logfile: ""

  # Number of NSD servers to fork.
  server-count: 1

  # Maximum number of concurrent TCP connections per server.
  # This option should have a value below 1000.
  # tcp-count: 10

  # Maximum number of queries served on a single TCP connection.
  # By default 0, which means no maximum.
  # tcp-query-count: 0

  # Override the default (120 seconds) TCP timeout.
  # tcp-timeout: 120

  # Preferred EDNS buffer size for IPv4.
  # ipv4-edns-size: 4096

  # Preferred EDNS buffer size for IPv6.
  # ipv6-edns-size: 4096

  # File to store pid for nsd in.
  pidfile: "/tmp/nsd.pid"

  # port to answer queries on. default is 53.
  port: 54

  # statistics are produced every number of seconds.
  # statistics: 3600

  # After binding socket, drop user privileges.
  # can be a username, id or id.gid.
  # username: nsd

  # The directory for zonefile: files.
  zonesdir: "/etc/nsd"
  
  # Verbosity level.
  verbosity: 1

  debug-mode: no
  
  reuseport: yes

  round-robin: yes

remote-control:
  control-enable: yes

zone:
  name: "{{ .domain }}"
  zonefile: "/etc/nsd/kubernetes.zone"

zone:
  name: "{{ .ptrDomain }}"
  zonefile: "/etc/nsd/reverse.zone"
