;## NSD authoritative only DNS
;## REVERSE Zone

;$ORIGIN {{ .domain }}.
$TTL {{ .defTTL }}

{{ .ptrDomain }} IN SOA {{ .ns.Host }}. admin.{{ .domain }}. (
          {{ .soa.Serial }}
          {{ .soa.Refresh }}
          {{ .soa.Retry }}
          {{ .soa.Expire }}
          {{ .soa.MinTTL }}
          )

{{ range $i, $ptr := .a }}{{ if $ptr.UsePtr }}
{{ $ptr.Reverse }}   IN PTR {{ $ptr.Host }}{{ end }}{{ end }}
