# Default HAProxy
# Generated HAProxy

global
  daemon
  pidfile /var/run/haproxy.pid
  stats socket /var/run/haproxy.stat mode 777
  # need to check logging
  maxconn 4096
  maxpipes 2048
  spread-checks 5


defaults
  log global
  mode http
  balance roundrobin
  maxconn 2048
  option tcplog

  option abortonclose
  option httpclose
  option forwardfor
  retries 3
  option redispatch
  timeout client 30s
  timeout connect 5s
  timeout server 30s
  option dontlognull
  timeout check 5s
