---

- name: restart daemons
  command: /bin/true
  notify:
    - restart vrs
    - systemctl daemon-reload
    - restart kubelet

- name: restart vrs
  service: name=openvswitch state=restarted
  
- name: systemctl daemon-reload 
  command: systemctl daemon-reload 
  ignore_errors: yes

- name: restart kubelet
  service: name=kubelet state=restarted
  ignore_errors: yes

- name: save iptables rules
  command: service iptables save
