---
- name: grab latest version from github
  shell: curl -sI https://github.com/kubernetes/kubernetes/releases/latest | grep Location | rev | cut -d "/" -f 1 | rev
  register: kubernetes_version_cmd_result
  when: kubernetes_version is undefined

- name: set kubernetes_version fact
  set_fact:
    kubernetes_version: "{{ kubernetes_version_cmd_result.stdout }}"
  when: kubernetes_version is undefined

- name: make sure the kubernetes download directory exits
  file: path="{{ kubernetes_download_dir }}" state=directory

- name: download kubernetes from github
  get_url: url={{ kubernetes_download_url }} dest={{ kubernetes_download_dir }}/{{ kubernetes_download_filename }}

- name: unarchive kubernetes
  unarchive: copy=no
             src={{ kubernetes_download_dir }}/{{ kubernetes_download_filename }}
             dest={{ kubernetes_download_dir }}

- name: unarchive kubernetes-server
  unarchive: copy=no
             src={{ kubernetes_download_dir }}/kubernetes/server/kubernetes-server-linux-amd64.tar.gz
             dest={{ kubernetes_download_dir }}

- name: copy kubernetes master binaries
  shell: cp {{ kubernetes_download_dir }}/kubernetes/server/bin/{{ item }} /usr/bin
  args:
    creates: "/usr/bin/{{ item }}"
  with_items:
    - kube-apiserver
    - kube-scheduler
    - kube-controller-manager
    - kubectl
  notify: restart daemons

- name: Copy master service files
  copy:
    src: ../init/systemd/{{ item }}
    dest: /etc/systemd/system/
    mode: 644
  with_items:
    - kube-apiserver.service
    - kube-scheduler.service
    - kube-controller-manager.service
  notify: reload systemd

- name: Copy systemd tmpfile for apiserver
  copy:
    src: ../init/systemd/tmpfiles.d/
    dest: /etc/tmpfiles.d/
    mode: 644
  notify: reload systemd
