# Default haproxy config file.
global
    daemon
    stats socket /tmp/haproxy

# haproxy stats
listen stats 
    bind *:1936
    mode http
    stats enable
    stats realm Haproxy\ Statistics
    stats uri /
    timeout connect 5000
    timeout client 5000
    timeout server 5000
