---
- name: LOGGING | Assures {{ kube_addons_dir }}/cluster-logging dir exists
  file: path={{ kube_addons_dir }}/cluster-logging state=directory

- name: LOGGING | Download logging files from Kubernetes repo
  get_url:
    url=https://raw.githubusercontent.com/GoogleCloudPlatform/kubernetes/master/cluster/addons/fluentd-elasticsearch/{{ item }}
    dest="{{ kube_addons_dir }}/cluster-logging/"
    force=yes
    validate_certs=False
  environment:
    http_proxy: "{{ http_proxy|default('') }}"
    https_proxy: "{{ https_proxy|default('') }}"
  with_items:
    - es-controller.yaml
    - es-service.yaml
    - kibana-controller.yaml
    - kibana-service.yaml
